* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0px;
  font-family: "Raleway", sans-serif;
}

body {
  /* background-color: #ec9f05; */
  background-image: linear-gradient(rgb(222, 26, 26), rgb(236, 159, 5));
  width: 100vw;
  height: 100vh;
  color: white;
}

.landing-container {
  text-align: center;
}
h1 {
  font-size: 100px;
}

button {
  padding: 20px;
  border-radius: 10px;
  background-color: #e8ebf7;
  width: 30vw;
  height: 20vh;
  font-size: 6rem;
}

h3{
  font-size: 6rem;
}