* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #EC9F05;
    width: 100vw;
    height: 100vh;
    color: white;
}

.landing-container {
    text-align: center;
}